@using CSharpClicker.Web.UseCases.GetLeaderboard;
@using CSharpClicker.Web.Domain
@model LeaderboardDto

@{
    Layout = "~/Views/Shared/_HatLayout.cshtml";
}

@section Styles
{
    <link href="~/css/leaderboard.css" rel="stylesheet"/>
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Рекордный счет</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Users.Count; i++)
            {
                var place = (Model.PageInfo.Page - 1) * DomainConstants.PageSize + i + 1;
                var user = Model.Users.ElementAt(i);
                <tr>
                    <th scope="row">@place</th>
                    <td>
                        @if (user.Avatar.Length == 0)
                        {
                            <img src="~/anonymous.png" height="20" width="20" />
                        }
                        else
                        {
                            <img src="data:image/png;base64, @Convert.ToBase64String(user.Avatar)" height="20" width="20" />
                        }
                        <span>@user.UserName</span>
                    </td>
                    <td>@user.RecordScore</td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        @if(Model.PageInfo.Page != 1) {
            <a class="m-3" asp-action="Leaderboard" asp-controller="User" asp-route-page="@(Model.PageInfo.Page - 1)">i--</a>
        }

        @if (Model.PageInfo.Total < 10)
        {
            for (var i = 1; i <= Model.PageInfo.Total; i++)
            {
                if (i == Model.PageInfo.Page)
                {
                    <a class="p-2 selected-page" asp-action="Leaderboard" asp-controller="User" asp-route-page="@i">@i</a>
                }
                else
                {
                    <a class="m-2" asp-action="Leaderboard" asp-controller="User" asp-route-page="@i">@i</a>
                }
            }
        }
        else
        {
            const int HalfPageCollectionSize = 5;

            var pagesFromLeft = Model.PageInfo.Page - 1;
            var pagesFromRight = Model.PageInfo.Total - Model.PageInfo.Page;

            var availablePagesFromLeft = pagesFromLeft / HalfPageCollectionSize > 0
                ? HalfPageCollectionSize
                : pagesFromLeft;
            var availablePagesFromRight = pagesFromRight / HalfPageCollectionSize > 0
                ? HalfPageCollectionSize
                : pagesFromRight;

            var pageRightOffset = HalfPageCollectionSize - availablePagesFromLeft;
            var pageLeftOffset = HalfPageCollectionSize - availablePagesFromRight;

            var pageStart = Model.PageInfo.Page - 5 + pageRightOffset - pageLeftOffset;

            for (var i = pageStart; i <= pageStart + 10; i++)
            {
                if (i == Model.PageInfo.Page)
                {
                    <a class="p-2 selected-page" asp-action="Leaderboard" asp-controller="User" asp-route-page="@i">@i</a>
                }
                else
                {
                    <a class="m-2" asp-action="Leaderboard" asp-controller="User" asp-route-page="@i">@i</a>
                }
            }
        }

        @if (Model.PageInfo.Total > Model.PageInfo.Page)
        {
            <a class="m-3" asp-action="Leaderboard" asp-controller="User" asp-route-page="@(Model.PageInfo.Page + 1)">i++</a>
        }
    </div>
</div>
